In [2]:
import scorecardpy as sc
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
warnings.filterwarnings("ignore")

In [3]:
Traindata =pd.read_csv(r"E:\DA\inotebook\weiyuexindai\train.csv")

In [4]:
Testdata =pd.read_csv(r"E:\DA\inotebook\weiyuexindai\testA.csv")

In [4]:
Traindata.shape

(800000, 47)

In [5]:
Traindata.describe().T #T是转置操作

,count,mean,std,min,25%,50%,75%,max
id,800000.0,399999.500000,230940.252013,0.00,199999.75,399999.500,599999.25,799999.00
loanAmnt,800000.0,14416.818875,8716.086178,500.00,8000.00,12000.000,20000.00,40000.00
term,800000.0,3.482745,0.855832,3.00,3.00,3.000,3.00,5.00
interestRate,800000.0,13.238391,4.765757,5.31,9.75,12.740,15.99,30.99
installment,800000.0,437.947723,261.460393,15.69,248.45,375.135,580.71,1715.42
employmentTitle,799999.0,72005.351714,106585.640204,0.00,427.00,7755.000,117663.50,378351.00
homeOwnership,800000.0,0.614213,0.675749,0.00,0.00,1.000,1.00,5.00
annualIncome,800000.0,76133.910493,68947.513672,0.00,45600.00,65000.000,90000.00,10999200.00
verificationStatus,800000.0,1.009683,0.782716,0.00,0.00,1.000,2.00,2.00
isDefault,800000.0,0.199513,0.399634,0.00,0.00,0.000,0.00,1.00
purpose,800000.0,1.745982,2.367453,0.00,0.00,0.000,4.00,13.00
postCode,799999.0,258.535648,200.037446,0.00,103.00,203.000,395.00,940.00
regionCode,800000.0,16.385758,11.036679,0.00,8.00,14.000,22.00,50.00
dti,799761.0,18.284557,11.150155,-1.00,11.79,17.610,24.06,999.00
delinquency_2years,800000.0,0.318239,0.880325,0.00,0.00,0.000,0.00,39.00
ficoRangeLow,800000.0,696.204081,31.865995,630.00,670.00,690.000,710.00,845.00
ficoRangeHigh,800000.0,700.204226,31.866674,634.00,674.00,694.000,714.00,850.00
openAcc,800000.0,11.598020,5.475286,0.00,8.00,11.000,14.00,86.00
pubRec,800000.0,0.214915,0.606467,0.00,0.00,0.000,0.00,86.00
pubRecBankruptcies,799595.0,0.134163,0.377471,0.00,0.00,0.000,0.00,12.00
revolBal,800000.0,16228.706505,22458.020544,0.00,5944.00,11132.000,19734.00,2904836.00
revolUtil,799469.0,51.790734,24.516126,0.00,33.40,52.100,70.70,892.30
totalAcc,800000.0,24.998861,11.999201,2.00,16.00,23.000,32.00,162.00
initialListStatus,800000.0,0.416953,0.493055,0.00,0.00,0.000,1.00,1.00
applicationType,800000.0,0.019267,0.137464,0.00,0.00,0.000,0.00,1.00
title,799999.0,1754.113589,7941.474040,0.00,0.00,1.000,5.00,61680.00
policyCode,800000.0,1.000000,0.000000,1.00,1.00,1.000,1.00,1.00
n0,759730.0,0.511932,1.333266,0.00,0.00,0.000,0.00,51.00
n1,759730.0,3.642330,2.246825,0.00,2.00,3.000,5.00,33.00
n2,759730.0,5.642648,3.302810,0.00,3.00,5.000,7.00,63.00
n3,759730.0,5.642648,3.302810,0.00,3.00,5.000,7.00,63.00
n4,766761.0,4.735641,2.949969,0.00,3.00,4.000,6.00,49.00
n5,759730.0,8.107937,4.799210,0.00,5.00,7.000,11.00,70.00
n6,759730.0,8.575994,7.400536,0.00,4.00,7.000,11.00,132.00
n7,759730.0,8.282953,4.561689,0.00,5.00,7.000,10.00,79.00
n8,759729.0,14.622488,8.124610,1.00,9.00,13.000,19.00,128.00
n9,759730.0,5.592345,3.216184,0.00,3.00,5.000,7.00,45.00
n10,766761.0,11.643896,5.484104,0.00,8.00,11.000,14.00,82.00
n11,730248.0,0.000815,0.030075,0.00,0.00,0.000,0.00,4.00
n12,759730.0,0.003384,0.062041,0.00,0.00,0.000,0.00,4.00
n13,759730.0,0.089366,0.509069,0.00,0.00,0.000,0.00,39.00
n14,759730.0,2.178606,1.844377,0.00,1.00,2.000,3.00,30.00

In [6]:
Traindata.sample(10)

,id,loanAmnt,term,interestRate,installment,grade,subGrade,employmentTitle,employmentLength,homeOwnership,...,n5,n6,n7,n8,n9,n10,n11,n12,n13,n14
546077,546077,18000.0,3,13.11,607.45,B,B4,334799.0,10+ years,0,...,11.0,0.0,5.0,13.0,5.0,6.0,0.0,0.0,0.0,1.0
257369,257369,15000.0,3,13.59,509.69,C,C2,22759.0,6 years,0,...,14.0,7.0,18.0,34.0,13.0,21.0,0.0,0.0,0.0,3.0
214746,214746,20000.0,5,12.61,451.08,C,C1,144.0,7 years,0,...,11.0,5.0,16.0,29.0,7.0,19.0,0.0,0.0,0.0,5.0
162576,162576,32000.0,3,8.18,1005.43,B,B1,97102.0,10+ years,0,...,5.0,3.0,6.0,10.0,4.0,8.0,0.0,0.0,0.0,1.0
59014,59014,10000.0,3,22.91,386.63,E,E1,5538.0,3 years,1,...,3.0,1.0,6.0,7.0,4.0,7.0,0.0,0.0,0.0,3.0
669412,669412,19500.0,3,15.31,678.90,D,D3,54.0,< 1 year,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
448893,448893,13500.0,3,11.53,445.37,B,B5,62434.0,10+ years,1,...,28.0,4.0,16.0,52.0,11.0,18.0,NaN,0.0,0.0,8.0
356458,356458,25100.0,5,18.55,644.91,E,E2,43545.0,< 1 year,1,...,7.0,8.0,5.0,10.0,3.0,12.0,0.0,0.0,0.0,1.0
614,614,13200.0,3,9.17,420.81,B,B1,200822.0,9 years,0,...,3.0,14.0,5.0,8.0,4.0,8.0,0.0,0.0,0.0,1.0
531860,531860,9800.0,3,8.49,309.32,B,B1,6185.0,9 years,1,...,2.0,13.0,3.0,8.0,3.0,4.0,0.0,0.0,0.0,1.0

In [6]:
Traindata = Traindata.replace('NaN',np.nan)

In [7]:
result1 = (Traindata.isnull().sum()/Traindata.shape[0]).map(lambda x:"{:.2%}".format(x))

In [9]:
print(result1)

id                    0.00%
loanAmnt              0.00%
term                  0.00%
interestRate          0.00%
installment           0.00%
grade                 0.00%
subGrade              0.00%
employmentTitle       0.00%
employmentLength      5.85%
homeOwnership         0.00%
annualIncome          0.00%
verificationStatus    0.00%
issueDate             0.00%
isDefault             0.00%
purpose               0.00%
postCode              0.00%
regionCode            0.00%
dti                   0.03%
delinquency_2years    0.00%
ficoRangeLow          0.00%
ficoRangeHigh         0.00%
openAcc               0.00%
pubRec                0.00%
pubRecBankruptcies    0.05%
revolBal              0.00%
revolUtil             0.07%
totalAcc              0.00%
initialListStatus     0.00%
applicationType       0.00%
earliesCreditLine     0.00%
title                 0.00%
policyCode            0.00%
n0                    5.03%
n1                    5.03%
n2                    5.03%
n3                    5.03%
n4                    4.15%
n5                    5.03%
n6                    5.03%
n7                    5.03%
n8                    5.03%
n9                    5.03%
n10                   4.15%
n11                   8.72%
n12                   5.03%
n13                   5.03%
n14                   5.03%
dtype: object

In [8]:
Traindata.info() #看到包含int和float以及object-分类变量，则ok；如果包含category则需要进一步将category处理为object。

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800000 entries, 0 to 799999
Data columns (total 47 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  800000 non-null  int64
 1   loanAmnt            800000 non-null  float64
 2   term                800000 non-null  int64
 3   interestRate        800000 non-null  float64
 4   installment         800000 non-null  float64
 5   grade               800000 non-null  object
 6   subGrade            800000 non-null  object
 7   employmentTitle     799999 non-null  float64
 8   employmentLength    753201 non-null  object
 9   homeOwnership       800000 non-null  int64
 10  annualIncome        800000 non-null  float64
 11  verificationStatus  800000 non-null  int64
 12  issueDate           800000 non-null  object
 13  isDefault           800000 non-null  int64
 14  purpose             800000 non-null  int64
 15  postCode            799999 non-null  float64
 16  regionCode          800000 non-null  int64
 17  dti                 799761 non-null  float64
 18  delinquency_2years  800000 non-null  float64
 19  ficoRangeLow        800000 non-null  float64
 20  ficoRangeHigh       800000 non-null  float64
 21  openAcc             800000 non-null  float64
 22  pubRec              800000 non-null  float64
 23  pubRecBankruptcies  799595 non-null  float64
 24  revolBal            800000 non-null  float64
 25  revolUtil           799469 non-null  float64
 26  totalAcc            800000 non-null  float64
 27  initialListStatus   800000 non-null  int64
 28  applicationType     800000 non-null  int64
 29  earliesCreditLine   800000 non-null  object
 30  title               799999 non-null  float64
 31  policyCode          800000 non-null  float64
 32  n0                  759730 non-null  float64
 33  n1                  759730 non-null  float64
 34  n2                  759730 non-null  float64
 35  n3                  759730 non-null  float64
 36  n4                  766761 non-null  float64
 37  n5                  759730 non-null  float64
 38  n6                  759730 non-null  float64
 39  n7                  759730 non-null  float64
 40  n8                  759729 non-null  float64
 41  n9                  759730 non-null  float64
 42  n10                 766761 non-null  float64
 43  n11                 730248 non-null  float64
 44  n12                 759730 non-null  float64
 45  n13                 759730 non-null  float64
 46  n14                 759730 non-null  float64
dtypes: float64(33), int64(9), object(5)
memory usage: 286.9+ MB

In [11]:
Traindata.nunique()

id                    800000
loanAmnt                1540
term                       2
interestRate             641
installment            72360
grade                      7
subGrade                  35
employmentTitle       248683
employmentLength          11
homeOwnership              6
annualIncome           44926
verificationStatus         3
issueDate                139
isDefault                  2
purpose                   14
postCode                 932
regionCode                51
dti                     6321
delinquency_2years        30
ficoRangeLow              39
ficoRangeHigh             39
openAcc                   75
pubRec                    32
pubRecBankruptcies        11
revolBal               71116
revolUtil               1286
totalAcc                 134
initialListStatus          2
applicationType            2
earliesCreditLine        720
title                  39644
policyCode                 1
n0                        39
n1                        33
n2                        50
n3                        50
n4                        46
n5                        65
n6                       107
n7                        70
n8                       102
n9                        44
n10                       76
n11                        5
n12                        5
n13                       28
n14                       31
dtype: int64

In [9]:
Nu_feature = list(Traindata.select_dtypes(exclude=['object']).columns) #数值型变量

In [10]:
Ca_feature = list(Traindata.select_dtypes(include=['object']).columns) #分类变量

In [14]:
Nu_feature

['id',
 'loanAmnt',
 'term',
 'interestRate',
 'installment',
 'employmentTitle',
 'homeOwnership',
 'annualIncome',
 'verificationStatus',
 'isDefault',
 'purpose',
 'postCode',
 'regionCode',
 'dti',
 'delinquency_2years',
 'ficoRangeLow',
 'ficoRangeHigh',
 'openAcc',
 'pubRec',
 'pubRecBankruptcies',
 'revolBal',
 'revolUtil',
 'totalAcc',
 'initialListStatus',
 'applicationType',
 'title',
 'policyCode',
 'n0',
 'n1',
 'n2',
 'n3',
 'n4',
 'n5',
 'n6',
 'n7',
 'n8',
 'n9',
 'n10',
 'n11',
 'n12',
 'n13',
 'n14']

In [13]:
Ca_feature

['grade', 'subGrade', 'employmentLength', 'issueDate', 'earliesCreditLine']

In [11]:
A = 'isDefault'
if A in Nu_feature:  
    print(f"{A} 在列表中")  
else:  
    print(f"{A} 不在列表中")

isDefault 在列表中

In [17]:
#查看数值变量/分类变量的训练集与测试集的分布是否相同
#Nu_feature.remove('isDefault')
#plt.figure().set_size_inches(30,30)
#i=1
#for col in Nu_feature:
    #ax = plt.subplot(8,5,i)
    #ax = sns.distplot(Traindata[col], color = 'red')
    #ax = sns.distplot(Testdata[col], color = 'green')  #这个col是定义的列名，for col in Nu，数值型的变量的列。
    #ax.set_xlabel(col)
    #ax.set_ylabel('Frequency')
    #ax = ax.legend(['train','test'])
    #i+=1
#plt.show()

In [18]:
#plt.figure(figsize=(10,8))
#train_corr=Traindata.corr()
#sns.heatmap(train_corr,vmax=0.8,linewidth = 0.05,cmap="Greens")

In [12]:
#对分类变量grade&subGrade进行处理
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
cols = ['grade','subGrade']
for j in cols:
    Traindata[j] = lb.fit_transform(Traindata[j])
Traindata[cols].head()
#这个循环对列表 cols 中的每个元素（即列名）进行操作。
#对于每个列，fit_transform 方法将该列中的类别变量转换为独一无二的整数。这些转换后的整数随后被赋值回原始数据框 Traindata 中。

   grade  subGrade
0      4        21
1      3        16
2      3        17
3      0         3
4      2        11

In [13]:
cols = ['grade','subGrade']
for j in cols:
    Testdata[j] = lb.fit_transform(Testdata[j])
Testdata[cols].head()

   grade  subGrade
0      1         7
1      2        14
2      3        18
3      2        13
4      3        15

In [14]:
Traindata['employmentLength']

0           2 years
1           5 years
2           8 years
3         10+ years
4               NaN
            ...
799995      7 years
799996    10+ years
799997    10+ years
799998    10+ years
799999      5 years
Name: employmentLength, Length: 800000, dtype: object

In [15]:
Testdata['employmentLength']

0         10+ years
1         10+ years
2           2 years
3           4 years
4          < 1 year
            ...
199995      7 years
199996       1 year
199997      8 years
199998      4 years
199999      7 years
Name: employmentLength, Length: 200000, dtype: object

In [25]:
#对分类变量employmentLength进行处理

Traindata['employmentLength'] = Traindata['employmentLength'].str.replace('years','').str.replace('year','').str.replace('+','').str.replace(' ','').replace('<1',0)
Testdata['employmentLength'] = Testdata['employmentLength'].str.replace('years','').str.replace('year','').str.replace('+','').str.replace(' ','').replace('<1',0)

In [26]:
Testdata['employmentLength']

0          10
1          10
2           2
3           4
4         NaN
         ...
199995      7
199996      1
199997      8
199998      4
199999      7
Name: employmentLength, Length: 200000, dtype: object

In [27]:
Traindata['employmentLength']

0           2
1           5
2           8
3          10
4         NaN
         ...
799995      7
799996     10
799997     10
799998     10
799999      5
Name: employmentLength, Length: 800000, dtype: object

In [28]:
Traindata = Traindata.replace('NaN',np.nan)
Traindata['employmentLength']

0           2
1           5
2           8
3          10
4         NaN
         ...
799995      7
799996     10
799997     10
799998     10
799999      5
Name: employmentLength, Length: 800000, dtype: object

In [29]:
Testdata = Testdata.replace('NaN',np.nan)
Testdata['employmentLength']

0          10
1          10
2           2
3           4
4         NaN
         ...
199995      7
199996      1
199997      8
199998      4
199999      7
Name: employmentLength, Length: 200000, dtype: object

In [30]:
#随机森林填补缺失的值，引入随机森林
from sklearn.tree import DecisionTreeClassifier
DTC = DecisionTreeClassifier()
empLenNotNull = Traindata.employmentLength.notnull()
columns = ['loanAmnt','grade','interestRate','annualIncome','homeOwnership','term','regionCode']

In [31]:
DTC.fit(Traindata.loc[empLenNotNull,columns],Traindata.employmentLength[empLenNotNull])
print(DTC.score(Traindata.loc[empLenNotNull,columns],Traindata.employmentLength[empLenNotNull]))

0.9818510110833077

In [32]:
#填充
for data in [Traindata]:
    empLen_pred = DTC.predict(data.loc[:,columns])
    empLenIsNull = data.employmentLength.isnull()
    data.employmentLength[empLenIsNull] = empLen_pred[empLenIsNull]

0         False
1         False
2         False
3         False
4          True
          ...
799995    False
799996    False
799997    False
799998    False
799999    False
Name: employmentLength, Length: 800000, dtype: bool

,id,loanAmnt,term,interestRate,installment,grade,subGrade,employmentTitle,employmentLength,homeOwnership,...,n5,n6,n7,n8,n9,n10,n11,n12,n13,n14
0,0,35000.0,5,19.52,917.97,4,21,320.0,2,2,...,9.0,8.0,4.0,12.0,2.0,7.0,0.0,0.0,0.0,2.0
1,1,18000.0,5,18.49,461.90,3,16,219843.0,5,0,...,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN
2,2,12000.0,5,16.99,298.17,3,17,31698.0,8,0,...,0.0,21.0,4.0,5.0,3.0,11.0,0.0,0.0,0.0,4.0
3,3,11000.0,3,7.26,340.96,0,3,46854.0,10,1,...,16.0,4.0,7.0,21.0,6.0,9.0,0.0,0.0,0.0,1.0
4,4,3000.0,3,12.99,101.07,2,11,54.0,3,1,...,4.0,9.0,10.0,15.0,7.0,12.0,0.0,0.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799995,799995,25000.0,3,14.49,860.41,2,13,2659.0,7,1,...,6.0,2.0,12.0,13.0,10.0,14.0,0.0,0.0,0.0,3.0
799996,799996,17000.0,3,7.90,531.94,0,3,29205.0,10,0,...,15.0,16.0,2.0,19.0,2.0,7.0,0.0,0.0,0.0,0.0
799997,799997,6000.0,3,13.33,203.12,2,12,2582.0,10,1,...,4.0,26.0,4.0,10.0,4.0,5.0,0.0,0.0,1.0,4.0
799998,799998,19200.0,3,6.92,592.14,0,3,151.0,10,0,...,10.0,6.0,12.0,22.0,8.0,16.0,0.0,0.0,0.0,5.0
799999,799999,9000.0,3,11.06,294.91,1,7,13.0,5,0,...,3.0,4.0,4.0,8.0,3.0,7.0,0.0,0.0,0.0,2.0

In [34]:
#转化为整数
Traindata['employmentLength']=Traindata['employmentLength'].astype(int)

In [35]:
empLenNotNull_test = Testdata.employmentLength.notnull()
columns = ['loanAmnt','grade','interestRate','annualIncome','homeOwnership','term','regionCode']

In [36]:
DTC.fit(Testdata.loc[empLenNotNull_test,columns],Testdata.employmentLength[empLenNotNull_test])
print(DTC.score(Testdata.loc[empLenNotNull_test,columns],Testdata.employmentLength[empLenNotNull_test]))

0.9944447346881912

In [38]:
#填充test
for data_test in [Testdata]:
    empLen_pred_test = DTC.predict(data_test.loc[:,columns])
    empLenIsNull_test = data_test.employmentLength.isnull()
    data_test.employmentLength[empLenIsNull_test] = empLen_pred_test[empLenIsNull_test]

In [39]:
#转化为整数
Testdata['employmentLength']=Testdata['employmentLength'].astype(int)

In [ ]:
#对issuedate和earliesCreditline进行处理——将日期转为日期格式

In [40]:
Traindata.issueDate  #dtype是object，不是datetimes64，因此要改

0         2014-07-01
1         2012-08-01
2         2015-10-01
3         2015-08-01
4         2016-03-01
             ...
799995    2016-07-01
799996    2013-04-01
799997    2015-10-01
799998    2015-02-01
799999    2018-08-01
Name: issueDate, Length: 800000, dtype: object

In [41]:
import datetime

In [42]:
Traindata['issueDate']=pd.to_datetime(Traindata['issueDate'])
Traindata['issueDate_year']=Traindata['issueDate'].dt.year.astype('int64')
Traindata['issueDate_month']=Traindata['issueDate'].dt.month.astype('int64')

Traindata['earliesCreditLine']=pd.to_datetime(Traindata['earliesCreditLine'])
Traindata['earliesCreditLine_year']=Traindata['earliesCreditLine'].dt.year.astype('int64')
Traindata['earliesCreditLine_month']=Traindata['earliesCreditLine'].dt.month.astype('int64')

Traindata=Traindata.drop(['issueDate','earliesCreditLine'],axis = 1)

In [43]:
#针对数值型变量的缺失值，用中位数填充。因为平均值受到极值的影响较大，中位数填充比较合理。
Traindata[Nu_feature] = Traindata[Nu_feature].fillna(Traindata[Nu_feature].median())

In [44]:
Testdata['issueDate']=pd.to_datetime(Testdata['issueDate'])
Testdata['issueDate_year']=Testdata['issueDate'].dt.year.astype('int64')
Testdata['issueDate_month']=Testdata['issueDate'].dt.month.astype('int64')

Testdata['earliesCreditLine']=pd.to_datetime(Testdata['earliesCreditLine'])
Testdata['earliesCreditLine_year']=Testdata['earliesCreditLine'].dt.year.astype('int64')
Testdata['earliesCreditLine_month']=Testdata['earliesCreditLine'].dt.month.astype('int64')

Testdata=Testdata.drop(['issueDate','earliesCreditLine'],axis = 1)

In [45]:
Nu_feature_test = list(Testdata.select_dtypes(exclude=['object']).columns) #数值型变量

In [46]:
#针对数值型变量的缺失值，用中位数填充。因为平均值受到极值的影响较大，中位数填充比较合理。
Testdata[Nu_feature_test] = Testdata[Nu_feature_test].fillna(Testdata[Nu_feature_test].median())

In [47]:
#储存数据
Traindata.to_csv("E:\DA\inotebook\weiyuexindai\Traindata3.csv")

In [48]:
Testdata.to_csv("E:\DA\inotebook\weiyuexindai\Testdata3.csv")

In [69]:
Traindata2 =pd.read_csv(r"E:\DA\inotebook\weiyuexindai\Traindata3.csv")

In [72]:
Testdata2 =pd.read_csv(r"E:\DA\inotebook\weiyuexindai\Testdata3.csv")

In [49]:
import toad

In [50]:
from toad.plot import badrate_plot,proportion_plot,bin_plot
from toad.metrics import KS,F1,AUC

In [51]:
toad.detector.detect(Traindata)

,type,size,missing,unique,mean_or_top1,std_or_top2,min_or_top3,1%_or_top4,10%_or_top5,50%_or_bottom5,75%_or_bottom4,90%_or_bottom3,99%_or_bottom2,max_or_bottom1
id,int64,800000,0.00%,800000,399999.500000,230940.252013,0.00,7999.99,79999.90,399999.500,599999.25,719999.10,791999.01,799999.00
loanAmnt,float64,800000,0.00%,1540,14416.818875,8716.086178,500.00,1500.00,5000.00,12000.000,20000.00,28000.00,35000.00,40000.00
term,int64,800000,0.00%,2,3.482745,0.855832,3.00,3.00,3.00,3.000,3.00,5.00,5.00,5.00
interestRate,float64,800000,0.00%,641,13.238391,4.765757,5.31,5.32,7.39,12.740,15.99,19.48,26.30,30.99
installment,float64,800000,0.00%,72360,437.947723,261.460393,15.69,53.15,157.59,375.135,580.71,807.30,1220.33,1715.42
grade,int32,800000,0.00%,7,1.745472,1.294173,0.00,0.00,0.00,2.000,2.00,4.00,5.00,6.00
subGrade,int32,800000,0.00%,35,10.691510,6.446515,0.00,0.00,3.00,10.000,14.00,20.00,28.00,34.00
employmentTitle,float64,800000,0.00%,248683,72005.271401,106585.597794,0.00,19.00,54.00,7755.000,117663.25,256721.10,365010.01,378351.00
employmentLength,int32,800000,0.00%,10,6.458801,3.364175,1.00,1.00,2.00,7.000,10.00,10.00,10.00,10.00
homeOwnership,int64,800000,0.00%,6,0.614213,0.675749,0.00,0.00,0.00,1.000,1.00,2.00,2.00,5.00
annualIncome,float64,800000,0.00%,44926,76133.910493,68947.513672,0.00,18000.00,34000.00,65000.000,90000.00,125000.00,250000.00,10999200.00
verificationStatus,int64,800000,0.00%,3,1.009683,0.782716,0.00,0.00,0.00,1.000,2.00,2.00,2.00,2.00
isDefault,int64,800000,0.00%,2,0.199513,0.399634,0.00,0.00,0.00,0.000,0.00,1.00,1.00,1.00
purpose,int64,800000,0.00%,14,1.745982,2.367453,0.00,0.00,0.00,0.000,4.00,5.00,9.00,13.00
postCode,float64,800000,0.00%,932,258.535579,200.037331,0.00,4.00,37.00,203.000,395.00,555.00,786.00,940.00
regionCode,int64,800000,0.00%,51,16.385758,11.036679,0.00,0.00,3.00,14.000,22.00,33.00,45.00,50.00
dti,float64,800000,0.00%,6321,18.284356,11.148495,-1.00,1.78,7.28,17.610,24.06,29.78,38.45,999.00
delinquency_2years,float64,800000,0.00%,30,0.318239,0.880325,0.00,0.00,0.00,0.000,0.00,1.00,4.00,39.00
ficoRangeLow,float64,800000,0.00%,39,696.204081,31.865995,630.00,660.00,665.00,690.000,710.00,740.00,800.00,845.00
ficoRangeHigh,float64,800000,0.00%,39,700.204226,31.866674,634.00,664.00,669.00,694.000,714.00,744.00,804.00,850.00
openAcc,float64,800000,0.00%,75,11.598020,5.475286,0.00,3.00,6.00,11.000,14.00,19.00,29.00,86.00
pubRec,float64,800000,0.00%,32,0.214915,0.606467,0.00,0.00,0.00,0.000,0.00,1.00,2.00,86.00
pubRecBankruptcies,float64,800000,0.00%,11,0.134095,0.377387,0.00,0.00,0.00,0.000,0.00,1.00,1.00,12.00
revolBal,float64,800000,0.00%,71116,16228.706505,22458.020544,0.00,168.00,3014.00,11132.000,19734.00,32386.10,94240.01,2904836.00
revolUtil,float64,800000,0.00%,1286,51.790939,24.507990,0.00,1.10,18.20,52.100,70.70,85.00,98.20,892.30
totalAcc,float64,800000,0.00%,134,24.998861,11.999201,2.00,5.00,11.00,23.000,32.00,41.00,61.00,162.00
initialListStatus,int64,800000,0.00%,2,0.416953,0.493055,0.00,0.00,0.00,0.000,1.00,1.00,1.00,1.00
applicationType,int64,800000,0.00%,2,0.019267,0.137464,0.00,0.00,0.00,0.000,0.00,0.00,1.00,1.00
title,float64,800000,0.00%,39644,1754.111398,7941.469319,0.00,0.00,0.00,1.000,5.00,206.00,48769.01,61680.00
policyCode,float64,800000,0.00%,1,1.000000,0.000000,1.00,1.00,1.00,1.000,1.00,1.00,1.00,1.00
n0,float64,800000,0.00%,39,0.486162,1.304088,0.00,0.00,0.00,0.000,0.00,2.00,6.00,51.00
n1,float64,800000,0.00%,33,3.609996,2.194045,0.00,0.00,1.00,3.000,5.00,6.00,11.00,33.00
n2,float64,800000,0.00%,50,5.610299,3.221675,0.00,1.00,2.00,5.000,7.00,10.00,16.00,63.00
n3,float64,800000,0.00%,50,5.610299,3.221675,0.00,1.00,2.00,5.000,7.00,10.00,16.00,63.00
n4,float64,800000,0.00%,46,4.705076,2.891763,0.00,1.00,2.00,4.000,6.00,8.00,15.00,49.00
n5,float64,800000,0.00%,65,8.052166,4.683129,0.00,1.00,3.00,7.000,10.00,14.00,23.00,70.00
n6,float64,800000,0.00%,107,8.496662,7.220096,0.00,0.00,2.00,7.000,11.00,17.00,35.00,132.00
n7,float64,800000,0.00%,70,8.218372,4.454236,0.00,2.00,4.00,7.000,10.00,14.00,23.00,79.00
n8,float64,800000,0.00%,102,14.540814,7.925421,1.00,3.00,6.00,13.000,18.00,25.00,40.00,128.00
n9,float64,800000,0.00%,44,5.562527,3.136866,0.00,1.00,2.00,5.000,7.00,10.00,16.00,45.00
n10,float64,800000,0.00%,76,11.617142,5.370503,0.00,3.00,6.00,11.000,14.00,19.00,29.00,82.00
n11,float64,800000,0.00%,5,0.000744,0.028735,0.00,0.00,0.00,0.000,0.00,0.00,0.00,4.00
n12,float64,800000,0.00%,5,0.003214,0.060464,0.00,0.00,0.00,0.000,0.00,0.00,0.00,4.00
n13,float64,800000,0.00%,28,0.084867,0.496475,0.00,0.00,0.00,0.000,0.00,0.00,2.00,39.00
n14,float64,800000,0.00%,31,2.169615,1.797781,0.00,0.00,0.00,2.000,3.00,4.00,8.00,30.00
issueDate_year,int64,800000,0.00%,12,2014.970842,1.639260,2007.00,2010.00,2013.00,2015.000,2016.00,2017.00,2018.00,2018.00
issueDate_month,int64,800000,0.00%,12,6.508888,3.450177,1.00,1.00,2.00,7.000,10.00,11.00,12.00,12.00
earliesCreditLine_year,int64,800000,0.00%,68,1998.687231,7.606971,1944.00,1975.00,1988.00,2000.000,2004.00,2007.00,2012.00,2015.00
earliesCreditLine_month,int64,800000,0.00%,12,6.746184,3.396839,1.00,1.00,2.00,7.000,10.00,11.00,12.00,12.00

In [52]:
toad.detector.detect(Testdata)

,type,size,missing,unique,mean_or_top1,std_or_top2,min_or_top3,1%_or_top4,10%_or_top5,50%_or_bottom5,75%_or_bottom4,90%_or_bottom3,99%_or_bottom2,max_or_bottom1
id,int64,200000,0.00%,200000,899999.500000,57735.171256,800000.00,801999.9900,819999.90,899999.50,949999.2500,979999.100,997999.01,999999.00
loanAmnt,float64,200000,0.00%,1444,14436.954125,8737.430326,500.00,1500.0000,5000.00,12000.00,20000.0000,28000.000,35000.00,40000.00
term,int64,200000,0.00%,2,3.481690,0.855195,3.00,3.0000,3.00,3.00,3.0000,5.000,5.00,5.00
interestRate,float64,200000,0.00%,597,13.244800,4.766528,5.31,5.3200,7.39,12.74,15.9900,19.520,26.30,30.99
installment,float64,200000,0.00%,41575,438.737804,262.246698,14.01,52.5698,157.59,375.43,580.9425,810.742,1223.77,1715.42
grade,int32,200000,0.00%,7,1.746595,1.295141,0.00,0.0000,0.00,2.00,3.0000,4.000,5.00,6.00
subGrade,int32,200000,0.00%,35,10.697855,6.442866,0.00,0.0000,3.00,10.00,15.0000,20.000,28.00,34.00
employmentTitle,float64,200000,0.00%,79282,72435.750740,106892.374933,0.00,19.0000,54.00,7836.00,119739.2500,258186.900,365426.02,378338.00
employmentLength,int32,200000,0.00%,10,6.450450,3.365880,1.00,1.0000,2.00,7.00,10.0000,10.000,10.00,10.00
homeOwnership,int64,200000,0.00%,6,0.614100,0.675465,0.00,0.0000,0.00,1.00,1.0000,2.000,2.00,5.00
annualIncome,float64,200000,0.00%,15530,76451.839388,77662.371143,0.00,18000.0000,34000.00,65000.00,90000.0000,125000.000,253008.00,9500000.00
verificationStatus,int64,200000,0.00%,3,1.010430,0.781732,0.00,0.0000,0.00,1.00,2.0000,2.000,2.00,2.00
purpose,int64,200000,0.00%,14,1.744410,2.367497,0.00,0.0000,0.00,0.00,4.0000,5.000,9.00,13.00
postCode,float64,200000,0.00%,889,258.259535,199.752214,0.00,4.0000,37.00,203.00,392.0000,555.000,786.00,931.00
regionCode,int64,200000,0.00%,51,16.430830,11.061279,0.00,0.0000,3.00,14.00,22.0000,33.000,45.00,50.00
dti,float64,200000,0.00%,4816,18.291077,11.492059,0.00,1.7600,7.28,17.62,24.0800,29.770,38.49,999.00
delinquency_2years,float64,200000,0.00%,23,0.315895,0.876316,0.00,0.0000,0.00,0.00,0.0000,1.000,4.00,28.00
ficoRangeLow,float64,200000,0.00%,39,696.166400,31.852619,625.00,660.0000,665.00,690.00,710.0000,740.000,800.00,845.00
ficoRangeHigh,float64,200000,0.00%,39,700.166530,31.853228,629.00,664.0000,669.00,694.00,714.0000,744.000,804.00,850.00
openAcc,float64,200000,0.00%,66,11.580340,5.455525,0.00,3.0000,6.00,11.00,14.0000,19.000,29.00,90.00
pubRec,float64,200000,0.00%,22,0.215530,0.606530,0.00,0.0000,0.00,0.00,0.0000,1.000,2.00,61.00
pubRecBankruptcies,float64,200000,0.00%,10,0.135215,0.380569,0.00,0.0000,0.00,0.00,0.0000,1.000,1.00,11.00
revolBal,float64,200000,0.00%,46395,16255.827310,22430.816869,0.00,178.9900,3030.00,11140.00,19779.2500,32329.000,94285.56,1743266.00
revolUtil,float64,200000,0.00%,1145,51.875391,24.548054,0.00,1.1000,18.20,52.30,70.8000,85.100,98.30,366.60
totalAcc,float64,200000,0.00%,113,24.921810,11.943628,2.00,5.0000,11.00,23.00,32.0000,41.000,61.00,127.00
initialListStatus,int64,200000,0.00%,2,0.416650,0.493005,0.00,0.0000,0.00,0.00,1.0000,1.000,1.00,1.00
applicationType,int64,200000,0.00%,2,0.019465,0.138153,0.00,0.0000,0.00,0.00,0.0000,0.000,1.00,1.00
title,float64,200000,0.00%,12058,1778.180570,7983.247915,0.00,0.0000,0.00,2.00,5.0000,234.000,48692.10,61676.00
policyCode,float64,200000,0.00%,1,1.000000,0.000000,1.00,1.0000,1.00,1.00,1.0000,1.000,1.00,1.00
n0,float64,200000,0.00%,30,0.482190,1.286169,0.00,0.0000,0.00,0.00,0.0000,2.000,6.00,32.00
n1,float64,200000,0.00%,28,3.615345,2.204545,0.00,0.0000,1.00,3.00,5.0000,6.000,11.00,32.00
n2,float64,200000,0.00%,42,5.614425,3.226986,0.00,1.0000,2.00,5.00,7.0000,10.000,16.00,51.00
n3,float64,200000,0.00%,42,5.614425,3.226986,0.00,1.0000,2.00,5.00,7.0000,10.000,16.00,51.00
n4,float64,200000,0.00%,45,4.701800,2.900339,0.00,1.0000,2.00,4.00,6.0000,8.000,14.00,63.00
n5,float64,200000,0.00%,56,8.038670,4.686889,0.00,1.0000,3.00,7.00,10.0000,14.000,23.00,70.00
n6,float64,200000,0.00%,86,8.450120,7.123970,0.00,0.0000,2.00,7.00,11.0000,17.000,34.00,99.00
n7,float64,200000,0.00%,58,8.210390,4.443162,0.00,2.0000,4.00,7.00,10.0000,14.000,23.00,83.00
n8,float64,200000,0.00%,87,14.512040,7.909413,1.00,3.0000,6.00,13.00,18.0000,25.000,40.00,112.00
n9,float64,200000,0.00%,39,5.566150,3.141222,0.00,1.0000,2.00,5.00,7.0000,10.000,16.00,41.00
n10,float64,200000,0.00%,65,11.600580,5.350191,0.00,3.0000,6.00,11.00,14.0000,19.000,29.00,90.00
n11,float64,200000,0.00%,4,0.000760,0.029145,0.00,0.0000,0.00,0.00,0.0000,0.000,0.00,3.00
n12,float64,200000,0.00%,4,0.003435,0.062636,0.00,0.0000,0.00,0.00,0.0000,0.000,0.00,3.00
n13,float64,200000,0.00%,22,0.083875,0.492607,0.00,0.0000,0.00,0.00,0.0000,0.000,2.00,25.00
n14,float64,200000,0.00%,27,2.171200,1.795257,0.00,0.0000,0.00,2.00,3.0000,4.000,8.00,28.00
issueDate_year,int64,200000,0.00%,12,2014.974880,1.643555,2007.00,2010.0000,2013.00,2015.00,2016.0000,2017.000,2018.00,2018.00
issueDate_month,int64,200000,0.00%,12,6.492345,3.449813,1.00,1.0000,2.00,7.00,10.0000,11.000,12.00,12.00
earliesCreditLine_year,int64,200000,0.00%,69,1998.694235,7.603290,1944.00,1975.0000,1988.00,2000.00,2004.0000,2007.000,2012.00,2015.00
earliesCreditLine_month,int64,200000,0.00%,12,6.748525,3.392245,1.00,1.0000,2.00,7.00,10.0000,11.000,12.00,12.00

In [ ]:
toad_quality = toad.quality(Traindata,'isDefault')